#mypage-container .inner-container a {color: #048;}
#mypage-container .inner-container a:hover {color: #06C;}

#mypage-container .inner-container li {list-style: none;}

#mypage-container .inner-container h1 {font: normal 1.8em Tahoma,sans-serif;}
#mypage-container .inner-container h2 {font: bold 1.4em sans-serif;}
#mypage-container .inner-container h3 {font: bold 1em Tahoma,sans-serif;}

#mypage-container .inner-container form,input {margin: 0; padding: 0; display: inline;}

#mypage-container .inner-container code {
	background: #FFF;
	border: 1px solid #EEE;
	border-left: 6px solid #CCC;
	color: #666;
	display: block;
	font: normal 1em Tahoma,sans-serif;
	line-height: 1.6em;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}

#mypage-container .inner-container blockquote {
	background: url(../../img/mypage/quote.gif) no-repeat;
	display: block;
	font-weight: bold;
	padding-left: 28px;
}

#mypage-container .inner-container h1,h2,h3 {padding-top: 6px; color: #553; margin-bottom: 4px;}

/* misc */
#mypage-container .inner-container .clearer {clear: both; font-size: 0;}
#mypage-container .inner-container .left {float: left;}
#mypage-container .inner-container .right {float: right;}

/* structure */
#mypage-container .inner-container {
	border: 2px solid #D7D7D2;
	background: #FFF;
	font-size: 1.2em;
	margin: 0 auto;
	padding: 10px;
	min-width: 780px;
	min-height: 550px;
	width: 90%;
	color: #444;
	font: normal 62.5% Tahoma,sans-serif;
}

#mypage-container {
	padding-bottom: 30px;
	padding-top: 30px;
}

/* path */
#mypage-container .inner-container .path {
	background: #46B4B4;
	color: #FFF;
	font: normal 1.1em Verdana,sans-serif;
	padding: 8px 12px;
}
#mypage-container .inner-container .path a {
	color: #FAFAFA;
	text-decoration: none;
}
#mypage-container .inner-container .path a:hover {
	color: #FFE;
	text-decoration: underline;
}

/* mypage-main */
#mypage-container .inner-container .mypage-main {
	border-top: 4px solid #FFF;
	padding: 8px 12px 0 0;
}

/* mypage-content */
#mypage-container .inner-container .mypage-content {
	float: right;
	min-width: 538px;
	width: 80%;
}
#mypage-container .inner-container .mypage-content .descr {
	color: #664;
	font-size: 0.9em;
	margin-bottom: 6px;
}
#mypage-container .inner-container .mypage-content li {
	list-style: url(../../img/mypage/li.gif);
	margin-left: 18px;
}
#mypage-container .inner-container .mypage-content p {font-family: "Lucida Sans Unicode",sans-serif;}

/* navigation */
#mypage-container .inner-container .navigation {
	float: left;
	min-width: 210px;
	width: 15%;
}
#mypage-container .inner-container .navigation h2 {
	color: #5A5A43;
	font: bold 1.1em Tahoma,sans-serif;
	line-height: 30px;
	margin: 0;
	padding-left: 12px;
}
#mypage-container .inner-container .navigation ul {
	padding: 0;
	border-top: 1px solid #EAEADA;
}
#mypage-container .inner-container .navigation li {border-bottom: 1px solid #EAEADA;}

/* 선택된 메뉴 */
#mypage-container .inner-container .navigation li.active {font-weight: bold;}

#mypage-container .inner-container .navigation li a {
	font-size: 1.1em;
	color: #554;
	display: block;
	padding: 8px 0 8px 5%;
	text-decoration: none;
	width: 95%;
}
#mypage-container .inner-container .navigation li a:hover {
	background: #F0F0EB;
	color: #654;
}